*{
    border:1px solid red;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.orderComp{
    /* height: 100vh; */
    min-width:30%;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    border:1px solid blue
}

.summary{
    width:60%;
    text-align: center;
}

.annualPlan{
    display:flex;
    min-width:80%;
    flex-flow: row nowrap;
    align-items:center;
    justify-content:space-evenly;
    background: rgb(227, 227, 248);
    margin-bottom:10%;
}